@{
    ViewBag.Title = "About";
}
<h2>We provide Luxury Service!</h2>
<h3>EXPECT THE EXCEPTIONAL</h3>

<p>Luxury Lofts helps you find luxury living in the City of Columbus, OH.</p>

<p>"Are you seeking something more? Looking for superior service? 
 Come home to Luxury Lofts, Inc where personalized service, 
    value, quality and YOU are our top priority".</p>
<br />

<p>"Our projects are continually admired for their ability to enhance communities
     through both architecture and beautiful landscaping".</p>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<p>If you are looking for a great Loft please check out 570 Lofts. 
    I gained my inspiration for this project from this site. 
    They offer beautiful lofts in Columbus, OH. </p>

<p><a class="btn btn-default" href="http://570lofts.com/">570 Lofts &raquo;</a></p>