@{
    ViewBag.Title = "Contact";
}
<h2>Contact an Expert TODAY</h2>
<h3>Just a Phone Call Away from your Exclusive Luxury Loft</h3>

<address>
    Luxury Loft, Inc<br />
    Columbus, OH 43085<br />
    <abbr title="Phone">P:</abbr>
    614-589-8726 <br/>
    614-LUXURY-CO
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@luxurylofts.com">Support@luxurylofts.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@luxurylofts.com">Marketing@luxurylofts.com</a>
</address>

<br/>
<br />
<br />
<br />
<br />
<br />
<br />
<br />