@{
    ViewBag.Title = "Home Page";
}
<div class="container">

    <!--Capital Hill Loft. The main loft that catches your eye-->
    <div class="row">
        <div class="col-md-9 promoArea loft img-responsive vertical-center">
            <div class="overlay">
                <h2>FEEL LIKE HOME AWAY FROM HOME</h2>
                <h1>FIND YOUR EXCLUSIVE LUXUARY LOFT</h1>
            </div>
        </div>
        <!--Columbus Skyline-->
       
        <div class="col-md-3 promoArea columbusSky"></div>
    </div>
    <!--Display info about fake accomodations-->
        <div class="row">
            <div class="col-md-3 offer square vertical-center">
                <div class="overlay">
                    @*<div class="inner-container"></div>*@
                    <h2 style="color:deepskyblue;">What We Offer..</h2>
                    <h6>DREAMS COMING TRUE & LUXURY</h6>
                </div>
            </div>

            <!--Sleek Loft-->
            <div class="col-md-3 promoArea sleekLoft img-responsive vertical-center">
                <div class="overlay">
                    <h3>SLEEK</h3>
                </div>
            </div>
            <!--Window Loft-->
            <div class="col-md-3 promoArea windowLoft img-responsive vertical-center">
                <div class="overlay">
                    <h3>WINDOW</h3>
                </div>
            </div>

            <!--Comfty Loft-->
            <div class="col-md-3 promoArea comftyLoft img-responsive vertical-center"></div>
            </div>

            <div class="row">
                <!--Philly Loft-->
                <div class="col-md-3 promoArea phillyLoft img-responsive vertical-center">
                    <div class="square"></div>
                </div>
                <!--Columbus History-->
                <div class="col-md-3 columbus-history">
                    <div class="overlay">

                        <div class="">Columbus History</div>
                        <ol>
                            <li>
                                Capital of Ohio
                            </li>
                            <li>15th largest city in the US</li>
                            <li>3rd largest metropolitian area in Ohio</li>
                            <li>Home to Ohio State University</li>
                            <li>Was a major part of the Underground Railroad</li>
                        </ol>

                    </div>
                </div>
                <!--Luxury Loft-->
                <div class="col-md-3 promoArea luxuryLoft img-responsive vertical-center">
                    <div class="overlay">
                        <h3>LUXURY</h3>
                    </div>
                </div>

                <!--Why Columbus-->
                <div class="col-md-3 why">
                    <div class="overlay">
                        
                        <div class="">Why Columbus?</div>
                        <ul>
                            <li>Fashion Forwad: #3 in US</li>
                            <li>Columbus Zoo and Aquarium best in Nation</li>
                            <li>Open Minded..Strong LGBT Community</li>
                            <li>Ranked one of the "Most Intelligent Cities in the World"</li>
                        </ul>
                    </div>
                </div>
                </div>

                <div class="row">
                    <!--Speak With Experts..the realators-->
                    <div class="col-md-3 promoArea experts img-responsive vertical-center ">
                        <div class="overlay">
                           <h3>Speak With Experts</h3>
                    </div>
                        </div>

                    <!--Wonder Bread Loft-->
                    <div class="col-md-3 promoArea wonderLoft img-responsive vertical-center">
                        <div class="overlay">
                            <h3>WONDER</h3>
                        </div>
                    </div>

                    <!--Reviews-->
                    <div class="col-md-3 promoArea barcelonaLoft img-responsive vertical-center">
                        <div class="overlay">
                            <h3>BARCELONA</h3>
                        </div>
                    </div>

                    <!--Featured On..-->
                    <div class="col-md-3 hgtvLogo img-responsive vertical-center">

                    </div>
                </div>


            </div>
       